<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="common-header(title, link)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:replace="${title}"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--    leaflet CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <!--Navbar css(it will also be commonly shared)-->
    <link th:href="@{/css/bars.css}" rel="stylesheet"/>
    <link href="../../static/css/bars.css" rel="stylesheet"/>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <!--    Custom CSS of fragments which will replace this-->
    <th:block th:replace="${link}"/>
</head>

<body th:fragment="common-body(body,sider,script)">
    <!-- Creating the header -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <span>MAP</span>
                <span>LIFE</span>
            </a>
            <form th:action="@{/projects/?keyword=}" class="d-flex" role="search">
                <div class="input-group">
                    <input type="search" id="searchbar" class="form-control" placeholder="Explore Your Life..." name="keyword">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">
                    </button>
                </div>
            </form>

            <div id="header-button">
                <ul class="navbar-nav me-auto mb-lg-0" style="display: none">
                    <li class="nav-item">
                        <button id="login-button" class="btn btn-sm btn-outline-secondary" type="button" onclick="window.location.href='/authform?button=login-button'">Log In</button>
                    </li>
                    <li class="nav-item">
                        <button id="signup-button" class="btn btn-sm signup-btn" type="button" onclick="window.location.href='/authform?button=signup-button'">Sign Up</button>
                    </li>
                    <li class="nav-item user-icon">
                        <img  src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u259.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-lg-0" style="display: none">
                    <li class="nav-item">
                        <button id="steam-button" class="btn btn-sm signup-btn" type="button">Stream</button>
                    </li>
                    <li class="nav-item user-icon">
                        <img id="user-icon-img-current">
                    </li>
                </ul>
            </div>

        </div>
        <div class="dropdown" id="dropdown">
            <ul class="navbar-nav dropdown-content">
                <li class="nav-item">
                    <a class="nav-link nav-link-box" th:href="@{/profile}">
                        <div class="nav-link-icon">
                            <i class="fi fi-rr-user"></i>
                        </div>
                        <div class="dropdown-content-text">
                            My Profile
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-box" th:href="@{/settings}">
                        <div class="nav-link-icon">
                            <i class="fi fi-rs-settings"></i>
                        </div>
                        <div class="dropdown-content-text">
                            Settings
                        </div>
                    </a>
                <hr>
                <li class="nav-item">
                    <a id="logoutButton" class="nav-link nav-link-box" th:href="@{/logout}">
                        <div class="nav-link-icon">
                            <i class="fi fi-bs-sign-out-alt"></i>
                        </div>
                        <div class="dropdown-content-text">
                            Log Out
                        </div>
                    </a>
            </ul>
        </div>
    </nav>
</header>
    <!-- Creating the sidebar -->
<sidebar>
    <th:block th:replace="${sider}"/>
    <nav class="navbar sidebar">
        <div>
            <div id="sidebar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u197.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u193.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u190.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u187.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u196.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762"></a>
                    </li>
                </ul>
                <div class="sub-avatar-container">
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                    <div class="sub-avatar">
                        <a class="nav-link" th:href="@{/}">
                            <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                        </a>
                    </div>
                </div>
                <div id="setting-icon-container">
                    <a class="nav-link setting-icon" href="bars.html"><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u183.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762"></a>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LIVE THE LIFE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li>
                                <a class="nav-link nav-link-box" th:href="@{/}">
                                    <div class="nav-link-icon">
                                        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u193.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                                    </div>
                                    <div class="nav-link-text">Home</div>
                                </a>
                        </li>
                        <li>
                                <a class="nav-link nav-link-box" href="bars.html">
                                    <div class="nav-link-icon">
                                        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u190.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                                    </div>
                                    <div class="nav-link-text">Explore</div>
                                </a>
                        </li>
                        <li>
                                <a class="nav-link nav-link-box" href="bars.html">
                                    <div class="nav-link-icon">
                                        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u187.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                                    </div>
                                    <div class="nav-link-text">Events</div>
                                </a>
                        </li>
                        <li>
                                <a class="nav-link nav-link-box" href="bars.html">
                                    <div class="nav-link-icon">
                                        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u196.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                                    </div>
                                    <div class="nav-link-text">History</div>
                                </a>
                        </li>
                    </ul>
                    <hr class="sidebar-hr">
                    <a th:href="@{/subscriptions}" class="nav-link">
                        <div class="offcanvas-header subscription-header">
                            <h5>SUBSCRIPTIONS</h5><img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u233.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762">
                        </div>
                    </a>

                    <ul class="subscription-list navbar-nav">
                        <li>
                            <a class="nav-link nav-link-box" href="bars.html">
                                <div class="subscription-live">
                                    <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                    <div class="streaming-detail">
                                        <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                    </div>
                                    <div class="live-viewer-box">
                                        <div class="live-dot"></div>
                                        <span class="live-viewer">1.2k</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                        <a class="nav-link nav-link-box" href="bars.html">
                            <div class="subscription-live">
                                <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                <div class="streaming-detail">
                                    <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                </div>
                                <div class="live-viewer-box">
                                    <div class="live-dot"></div>
                                    <span class="live-viewer">1.2k</span>
                                </div>
                            </div>

                        </a>
                        </li>
                        <li>
                        <a class="nav-link nav-link-box" href="bars.html">
                            <div class="subscription-live">
                                <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                <div class="streaming-detail">
                                    <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                </div>
                                <div class="live-viewer-box">
                                    <div class="live-dot"></div>
                                    <span class="live-viewer">1.2k</span>
                                </div>
                            </div>

                        </a>
                        </li>
                        <li>
                        <a class="nav-link nav-link-box" href="bars.html">
                            <div class="subscription-live">
                                <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                <div class="streaming-detail">
                                    <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                </div>
                                <div class="live-viewer-box">
                                    <div class="live-dot"></div>
                                    <span class="live-viewer">1.2k</span>
                                </div>
                            </div>

                        </a>
                        </li>
                        <li>
                            <a class="nav-link nav-link-box" href="bars.html">
                                <div class="subscription-live">
                                    <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                    <div class="streaming-detail">
                                        <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                    </div>
                                    <div class="live-viewer-box">
                                        <div class="live-dot"></div>
                                        <span class="live-viewer">1.2k</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li>
                            <a class="nav-link nav-link-box" href="bars.html">
                                <div class="subscription-live">
                                    <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                    <div class="streaming-detail">
                                        <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                    </div>
                                    <div class="live-viewer-box">
                                        <div class="live-dot"></div>
                                        <span class="live-viewer">1.2k</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li>
                            <a class="nav-link nav-link-box" href="bars.html">
                                <div class="subscription-live">
                                    <img class="sub-avatar-icon" th:src="@{${'/image/cat.png'}}">
                                    <div class="streaming-detail">
                                        <span class="live-name text-truncate">Cat Lover</span><span class="live-description text-truncate">My life with my cat</span>
                                    </div>
                                    <div class="live-viewer-box">
                                        <div class="live-dot"></div>
                                        <span class="live-viewer">1.2k</span>
                                    </div>
                                </div>

                            </a>
                        </li>
                    </ul>
                    <hr class="sidebar-hr">
                    <footer>
                        <div id="footer-link-primary">
                            <a th:href="@{/}" class="nav-link">About</a><a th:href="@{/}" class="nav-link">Copyright</a><a th:href="@{/}" class="nav-link">Contact us</a>
                            <a th:href="@{/}" class="nav-link">Instagram</a><a th:href="@{/}" class="nav-link">Twitter</a><a th:href="@{/}" class="nav-link">Facebook</a>
                            <a th:href="@{/}" class="nav-link">Developers</a><a th:href="@{/}" class="nav-link">Sponsor</a>
                        </div>
                        <div id="footer-link-secondary">
                            <a th:href="@{/}" class="nav-link">Terms</a><a th:href="@{/}" class="nav-link">Privacy</a><a th:href="@{/}" class="nav-link">Policy</a>
                            <a th:href="@{/}" class="nav-link">Join us</a><a th:href="@{/}" class="nav-link">Report bugs</a><a th:href="@{/}" class="nav-link">Test new features</a><a th:href="@{/}" class="nav-link">Explore Cardiff</a>
                        </div>
                        <span>© 2022 MAPLIFE</span>
                    </footer>
                </div>
            </div>
        </div>
    </nav>
</sidebar>

<div class="body__container">
    <th:block th:replace="${body}"/>
</div>

<th:block th:replace="${script}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bars.js}"></script>
</body>
</html>