<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Login and Signup</title>
    <link th:href= "@{/css/login.css}" rel="stylesheet" />

</head>
<body>
<div class="login-box" id="login-box">
    <div class="auth-form-container" >
<!--        <div id="popLayer"  class="popLayer"onclick="closeLoginBox()" ></div>-->

        <section id="loginbox-content">
            <div class="loginbox-content-header clearfix">

                <div class="loginbox-title">
                    <h1>Join MAP LIFE</h1>
                </div>
                <div class="login-bar">
                    <a id="login-a" >Login</a>
                </div>
                <div class="signup-bar">
                    <a id="signup-a" >Sign up</a>
                </div>
            </div>

            <div class="loginbox-content-body">
                <div class="dom-login"  id="dom-login">
                    <form action="/login" method="post">
                        <div class="boxInput">
                            <h4>username</h4>
                            <input class="form-control" type="text" name="username" id="loginUsername">
                        </div>
                        <div class="boxInput">
                            <h4>password</h4>
                            <input class="form-control" type="password" name="password"  id="loginPassword">
                            <p id="login-msg">*Wrong username or password</p>
                        </div>
                        <div class="dom-footer">
                            <div class="login-another">
                                <a href="#">forgot my password</a>
                            </div>
                        </div>
                        <input type="submit" value="Login" class="AccessBtn" name="loginBtn" id="loginBtn" >
                    </form>
                </div>
                <div class="dom-signup" id="dom-signup" >
                    <form action="/processFormPost" method="post">
                        <div class="boxInput">
                            <h4>username</h4>
                            <input class="form-control" type="text" name="username"  id="signupUsername" >
                            <p id="signup-username">*Usernames must be less than 20 characters.</p>
                            <p id="signup-username2">*This username is unavailable.</p>
                        </div>
                        <div class="boxInput">
                            <h4>password</h4>
                            <input class="form-control" type="password" name="password"  id="signupPassword">
                            <p id="signup-password">*Password needs to be at least 8 characters.</p>
                        </div>
                        <div class="boxInput">
                            <h4>Confirm password</h4>
                            <input class="form-control" type="password" name="confirmPassword"  id="signupConfirmPassword">
                            <p id="signup-comfirmPassword">*Password needs to be at least 8 characters.</p>
                            <p id="signup-comfirmPassword2">*Password doesn't match.</p>
                        </div>
                        <div class="boxInput">
                            <h4>email</h4>
                            <input class="form-control" type="email" name="email" id="signupEmail">
                        </div>
                        <div class="terms">
                            <!--                                <input type="checkbox" class="signup-checkBox">-->
                            <h4>By clicking Sign Up, you are agreeing to MAP LIFE's </h4>
                            <a>Terms of Service</a>
                            <h4> and are acknowledging our </h4>
                            <a>Privacy Notice</a>
                            <h4> applies.</h4>
                        </div>
                        <input type="submit" value="Sign Up" class="AccessBtn" id="signupBtn">
                    </form>
                </div>

            </div>
        </section>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>