<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link th:href= "@{/css/form.css}" rel="stylesheet" />
    <link th:href= "@{/css/subscription.css}" rel="stylesheet" />

</head>
<body th:replace="navigator/bars::common-body(~{::#addevents-page},~{},~{})">
<div id="addevents-page" >
    <section class="contact-section section_padding">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Get in Touch</h2>
                </div>
                <div class="col-lg-8">


                    <form action="#" th:action="@{/addevents}" class="event-form" th:object="${events}" method="post" enctype="multipart/form-data">

                        <div class="row">


                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="title" id="title" th:field="${events.title}" type="text"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'"
                                           placeholder='Title'>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    <textarea class="form-control w-100" name="body" id="" th:field="*{}" cols="30" rows="3" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Desk Type'" placeholder = 'Desk Type'></textarea>
                                </div>
                            </div>-->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input  class="form-control" name="event_dis" id="event_dis" type="text"
                                            th:field="*{event_dis}" onfocus="this.placeholder = 'Description'"
                                            onblur="this.placeholder = 'Description'"
                                            placeholder='Description'>
                                </div>
                            </div>

                       <!--     <div class="col-sm-6">
                                <div class="form-group">
                                    <input  class="form-control" name="tag" id="" type="number"
                                           &lt;!&ndash; th:field="*{monitorOption}"&ndash;&gt; onfocus="this.placeholder = 'Monitor Number'"
                                            onblur="this.placeholder = 'Monitor Number'"
                                            placeholder='Monitor Number'>
                                </div>
                            </div>-->


                            <div class="col-12">
                                <div class="form-group">
                                    <label>Photos: </label>
                                    <input type="file" value="upload" name="image" accept="image/png, image/jpeg" />
                                </div>
                            </div>
                        </div>
                        <div >

                            <input type="submit"  value="Add Event" class="add_event" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

</div>
</body>
</html>