<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Geolocation</title>


    <meta charset=utf-8 />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">



        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript"
                src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8mjrcsF6gWpy7VNfNxz00hLU3BGYDqK4&sensor=true">
        </script>
        <script type="text/javascript">

            var geocoder;
            var map;

            function initialize() {
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(-34.397, 150.644);
                var mapOptions = {
                    zoom: 10,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            }

            function codeAddress() {
                var address = document.getElementById('address').value;
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        google.maps.event.addListener(marker, 'dragend', function (event) {
                            document.getElementById("latbox").value = this.getPosition().lat();
                            document.getElementById("lngbox").value = this.getPosition().lng();
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }


            function codeAddress() {
                var address = document.getElementById('address').value;
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        document.getElementById("latbox").value = marker.getPosition().lat();
                        document.getElementById("lngbox").value = marker.getPosition().lng();

                        google.maps.event.addListener(marker, 'dragend', function (event) {
                            document.getElementById("latbox").value = this.getPosition().lat();
                            document.getElementById("lngbox").value = this.getPosition().lng();
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

        </script>
<body onload="initialize()" onunload="GUnload()">
<p>
    Enter an address, The latitude/longitude will appear in the text fields after each search.
</p>
<p>
    <input id="address" type="textbox" value="New York, New York">
    <input type="button" value="Get Long and Lat" onclick="codeAddress()">
</p>

<div id="latlong">
    <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
</div>

<div id="map_canvas" style="width: 600px; height: 400px"></div>

</body>




</html>
