<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link th:href= "@{/css/subscription.css}" rel="stylesheet" />

</head>
<body th:replace="navigator/bars::common-body(~{::#subscriptions-page},~{},~{::script})">
<div id="subscriptions-page" >
    <div class="following-list">
        <div class="following-list-title">
            <label>All following</label>
        </div>
        <div class="following-block" th:each="followingUser:${followingUserSet}">
            <div class="following-icon">
                <img th:src="@{${'/image/'+followingUser.getIcon()}}">
            </div>
            <div class="following-userDetails">
                <div class="following-username subscription-following-username" th:text="${followingUser.getUsername()}" ></div>
                <div class="following-bio" th:text="${followingUser.getBio()}"></div>
            </div>
            <div>
                <input id="followBtn" class="btn btn-sm btn-outline-secondary subscription-following-button" type="button" th:value="${followToggle}" >
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/subscription.js}"></script>
</body>
<!--<script type="text/javascript" th:src="@{/js/profile.js}">-->
<!--</script>-->

</html>