<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link th:href= "@{/css/subscription.css}" rel="stylesheet" />

</head>
<body th:replace="navigator/bars::common-body(~{::#subscriptions-page},~{},~{})">
<div id="subscriptions-page" >
    <div class="following-list">
        <div class="following-list-title">
            <label>All following</label>
        </div>
        <div class="following-block">
            <div class="following-icon">
                <img th:src="@{${'/image/cat.png'}}">
            </div>
            <div class="following-userDetails">
                <div class="following-username">Shuwen</div>
                <div class="following-bio">I am a pretty girl.</div>
            </div>
            <div>
                <input class="following-button" type="button" value="followed">
            </div>
        </div>
        <div class="following-block">
            <div class="following-icon">
                <img th:src="@{${'/image/cat.png'}}">
            </div>
            <div class="following-userDetails">
                <div class="following-username">Shuwen</div>
                <div class="following-bio">I am a pretty girl.</div>
            </div>
            <div>
                <input class="following-button" type="button" value="followed">
            </div>
        </div>
        <div class="following-block">
            <div class="following-icon">
                <img th:src="@{${'/image/cat.png'}}">
            </div>
            <div class="following-userDetails">
                <div class="following-username">Shuwen</div>
                <div class="following-bio">I am a pretty girl.</div>
            </div>
            <div>
                <input class="following-button" type="button" value="followed">
            </div>
        </div>
        <div class="following-block">
            <div class="following-icon">
                <img th:src="@{${'/image/cat.png'}}">
            </div>
            <div class="following-userDetails">
                <div class="following-username">Shuwen</div>
                <div class="following-bio">I am a pretty girl.</div>
            </div>
            <div>
                <input class="following-button" type="button" value="followed">
            </div>
        </div>
        <div class="following-block">
        <div class="following-icon">
            <img th:src="@{${'/image/cat.png'}}">
        </div>
        <div class="following-userDetails">
            <div class="following-username">Shuwen</div>
            <div class="following-bio">I am a pretty girl.</div>
        </div>
        <div>
            <input class="following-button" type="button" value="followed">
        </div>
    </div>
        <div class="following-block">
        <div class="following-icon">
            <img th:src="@{${'/image/cat.png'}}">
        </div>
        <div class="following-userDetails">
            <div class="following-username">Shuwen</div>
            <div class="following-bio">I am a pretty girl.</div>
        </div>
        <div>
            <input class="following-button" type="button" value="followed">
        </div>
    </div>



    </div>


</div>
</body>
</html>