.container-fluid{
    --bs-gutter-x: 2rem;
}
.fixed-top{
    z-index: 2000;
}
.d-flex {
    width: 30%;
}
.navbar{
    --bs-navbar-padding-y: 0.313rem;
}
.navbar-nav{
    flex-direction: row;
}
.nav-item{
    margin: 0 0.5rem 0 0.5rem;
}
.user-icon{
    margin-left: 1rem;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.24);
}
.btn-sm{
    font-weight: 600;
    border: 0;
    background-color: #d7d7d7;
    color: #333333;
}
.signup-btn {
    background-color: #de5b19;
    color: white;
    /*--bs-btn-hover-bg: #da510c;*/
}
.signup-btn:hover{
    background-color: #dd4a00;
    color: white;
}
.signup-btn:focus{
    background-color: #dd4a00;
    color: white;
    box-shadow: 0 0 0 0.25rem rgb(222 91 25 / 50%);
}
.form-control{
    line-height: 0rem;
    border: 2px solid #8c8c8c;
    font-size: 0.925rem;
}
.form-control:focus{
    border-color: #de5b19;
    box-shadow: 0 0 0 0;
}
.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select, .input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
}
.navbar-brand {
    color: #333333;
    font-weight: 700;
    font-family: Arial;
    font-size: 18px;
}
.navbar-brand span{
    display: block;
    margin: -0.5rem 0;
}
.input-group button{
    background-repeat: no-repeat;
    width: 2rem;
    background-position: center;
    background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/CQTZ48/eb/c7/d9/ebc7d925a90b4a339ec4087124b7875a/images/test/search_u1.svg?pageId=4780b999-ebe7-4eea-b174-45c2fa4bf142");
}
.input-group button:hover{
    background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/CQTZ48/eb/c7/d9/ebc7d925a90b4a339ec4087124b7875a/images/test/search_u2.svg?pageId=4780b999-ebe7-4eea-b174-45c2fa4bf142");
}
.sidebar{
    margin-top: 46px;
    position: fixed;
}
.sidebar-collapse{
    width: 70px;
    min-height: 100vh;
    padding: 0.5rem 0;
}
.sidebar-collapse ul{
    flex-direction: column;
}
.sidebar-collapse ul li{
    margin-bottom: 0.5rem;
}
.sidebar-collapse a{
    text-align: center;
}
.sub-avatar{
    margin: 1rem 0;
}
.sub-avatar-icon{
    border-radius: 50%;
    width: 60%;
}
.setting-icon{
    position: absolute;
    top: 57rem;
    margin: auto 20px;
}
.navbar-toggler {
    background-color: transparent;
    border: 0px;
    padding: 0.5rem 0.75rem;
}
.offcanvas{
    transition: transform .1s ease-in-out;
}
.offcanvas.offcanvas-end {
    top: 50px;
    left: 0;
    transform: translateX(-100%);
}
.offcanvas-backdrop.show {
    opacity: 0;
}