body{
    background-color: rgba(249, 249, 249, 1);
    height: -webkit-fill-available;
}
.body__container{
    /*padding: 50px 0 0 70px;*/
    /*min-height: 100%;*/
    /*z-index: 0;*/
    /*left: 70px;*/
    /*top: 50px;*/
    /*position: absolute;*/
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
.container-fluid{
    --bs-gutter-x: 2rem;
    flex-wrap: nowrap;
}
.fixed-top{
    z-index: 1700;
}
.d-flex {
    width: 30%;
}
.navbar{
    --bs-navbar-padding-y: 0.313rem;
}
.navbar-nav{
    flex-direction: row;
}
#header-button .navbar-nav{
    align-items: center;
}
.nav-item{
    margin: 0 0.5rem 0 0.5rem;
}
.user-icon{
    margin-left: 1rem;
    overflow: hidden;
}
.user-icon-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #de5b19;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.24);
}
.btn-sm{
    font-weight: 600;
    border: 0;
    background-color: #d7d7d7;
    color: #333333;
}
.signup-btn {
    background-color: #de5b19;
    color: white;
    /*--bs-btn-hover-bg: #da510c;*/
}
.signup-btn:hover{
    background-color: #dd4a00;
    color: white;
}
.signup-btn:focus{
    background-color: #dd4a00;
    color: white;
    box-shadow: 0 0 0 0.25rem rgb(222 91 25 / 50%);
}
.form-control{
    line-height: 0rem;
    border: 2px solid #8c8c8c;
    font-size: 0.925rem;
}
.form-control:focus{
    border-color: #de5b19;
    box-shadow: 0 0 0 0;
}
.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select, .input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
}
.navbar-brand {
    color: #333333;
    font-weight: 700;
    font-family: Arial;
    font-size: 18px;
}
.navbar-brand span{
    display: block;
    margin: -0.5rem 0;
}
.input-group button{
    background-repeat: no-repeat;
    width: 2rem;
    background-position: center;
    background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/CQTZ48/eb/c7/d9/ebc7d925a90b4a339ec4087124b7875a/images/test/search_u1.svg?pageId=4780b999-ebe7-4eea-b174-45c2fa4bf142");
}
.input-group button:hover{
    background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/CQTZ48/eb/c7/d9/ebc7d925a90b4a339ec4087124b7875a/images/test/search_u2.svg?pageId=4780b999-ebe7-4eea-b174-45c2fa4bf142");
}
.sidebar{
    margin-top: 45px;
    position: fixed;
    font-family: Arial,sans-serif;
    z-index: 1500;
}
#sidebar-collapse{
    width: 70px;
    min-height: 100vh;
    padding: 0.5rem 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#sidebar-collapse ul{
    flex-direction: column;
}
#sidebar-collapse ul li{
    margin-bottom: 0.5rem;
}
#sidebar-collapse ul a{
    border-radius: 5px;
}
#sidebar-collapse a:hover{
    background-color: #e7e7e7;
}
.sub-avatar-container{
    flex-shrink: 0;
}
.sub-avatar{
    margin: 0.5rem 0;
}
.sub-avatar-icon{
    border-radius: 50%;
    width: 60%;
}
.sub-avatar .nav-link{
    padding: 0.3rem 0;
}
#setting-icon-container{
    flex: auto;
    min-height: 7rem;
}
.setting-icon{
    margin: auto 20px;
    position: absolute;
    bottom: 5rem;
}
.setting-icon:hover{
    background-color: transparent !important;
}
.navbar-toggler {
    background-color: transparent;
    border: 0px;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}
.navbar-toggler:focus{
    box-shadow: unset;
}
.navbar-toggler:hover{
    background-color: #e7e7e7;
}
.offcanvas{
    transition: transform .1s ease-in-out;
    width: 288px !important;
}
.offcanvas.offcanvas-end {
    top: 50px;
    left: 0;
    transform: translateX(-100%);
}
.offcanvas-backdrop.show {
    opacity: 0;
}
.offcanvas-title{
    font-weight: 700;
    color: #333333;
}
.offcanvas ul{
    flex-direction: column;
}
.offcanvas-body{
    padding: 0 2px 0 0;
}

/*For scroll bar*/
.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}
.offcanvas-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.offcanvas-body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.offcanvas-body:hover::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
}
.btn-close{
    background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u252.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762");
    background-size: 100%;
    padding: 0.25em 0.25em !important;
    margin: inherit !important;
    color: #333;
    opacity: 1;
}
.btn-close:focus{
    box-shadow: unset;
}
.nav-link-box{
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
}
.nav-link-box:hover{
    background-color: #e7e7e7;
}
.nav-link-text{
    font-size: 18px;
    color: #333333;
    font-weight: 400 !important;
    margin-left: 1.5rem;

}
.nav-link{
    text-align: center;
}
.nav-link-icon{
    width: 35px;
}
.sidebar-hr{
    margin: 1rem 0 0.2rem 0;
}
.offcanvas-body h5{
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 0;
    margin-right: 1rem;
}
.subscription-header{
    justify-content: left;
}
.subscription-live{
    display: flex;
    align-items: center;
}
.subscription-live img{
    width: 40px;
}
.streaming-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3;
    width: 9.6rem;
    margin-left: 0.8rem;
}
.live-dot{
    background-color: #de5b19;
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    position: relative;
}
.live-name{
    font-weight: 700;
    color: #333;
    width: 142px;
    text-align: left;
}
.live-description,.live-viewer{
    font-size: 14px;
    width: 142px;
    text-align: left;
}

.live-viewer-box{
    padding-bottom: 1.3rem;
}
.subscription-list .nav-link-box{
    padding: 0.4rem 0.6rem 0.4rem 1rem;
}
footer{
    padding: 1rem 1.5rem;
}
#footer-link-primary a,#footer-link-secondary a{
    margin-right: 1rem;
    display: inline-block;
    font-size: 14px;
    color: #555555;
}
#footer-link-secondary{
    padding:1rem 0;
}
footer span{
    font-size: 13px;
    color:  #7f7f7f;
}
