



/*#addevents-page> .content {
    padding: 7rem 0; }*/

#addevents-page{
    padding:50px 0 0 70px
}

#addevents-page .heading {
    font-size: 2.5rem;
    font-weight: 900; }

#addevents-page .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
#addevents-page .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

#addevents-page .col-form-label {
    color: #000;
    font-size: 13px; }

#addevents-page .button .form-control .custom-select {
    height: 45px;
    border-radius: 0; }

#addevents-page .custom-select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0; }
#addevents-page .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

#addevents-page .button {
    border: none;
    border-radius: 0;
    font-size: 11px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-radius: 30px !important; }
#addevents-page .button.button-primary {
    border-radius: 30px;
    background: #de5b19;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
    box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2); }
#addevents-page .button:hover {
    color: #fff; }
#addevents-page .button:active, .button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

#addevents-page .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #efefef; }
#addevents-page .contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0; }
#addevents-page .contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px; }
#addevents-page .contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5); }
#addevents-page .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5); }
#addevents-page .contact-wrap .contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 5px; }
#addevents-page .contact-wrap .form {
    background: #fff; }
#addevents-page .contact-wrap .form h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px; }
#addevents-page .contact-wrap .contact-info {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
#addevents-page .contact-wrap .contact-info a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
@media (max-width: 1199.98px) {
    #addevents-page .contact-wrap .contact-info {
        height: 400px !important; } }
#addevents-page .contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px; }

#addevents-page label.error {
    font-size: 12px;
    color: red; }

#message {
    resize: vertical; }

#form-message-warning, #form-message-success {
    display: none; }

#form-message-warning {
    color: #B90B0B; }

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }

#addevents-page .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
