.leaflet-sidebar {
    position: fixed;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1500; }
    .leaflet-sidebar.left {
      left: -500px;
      transition: left 0.5s, width 0.5s;
      padding-right: 0; }
      .leaflet-sidebar.left.visible {
        left: 0; }
  
    .leaflet-sidebar > .leaflet-control {
      height: 100%;
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 8px 24px;
      font-size: 18px;
      background: white;
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
      /*-webkit-border-radius: 4px;*/
      /*border-radius: 4px; */
    }
      .leaflet-touch .leaflet-sidebar > .leaflet-control {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
        /*box-shadow: none;*/
        /*border: 2px solid rgba(0, 0, 0, 0.2);*/
        background-clip: padding-box; }
    @media (max-width: 767px) {
      .leaflet-sidebar {
        width: 100%;
        padding: 0; }
        .leaflet-sidebar.left.visible ~ .leaflet-left {
          left: 100%; }
        .leaflet-sidebar.right.visible ~ .leaflet-right {
          right: 100%; }
        .leaflet-sidebar.left {
          left: -100%; }
          .leaflet-sidebar.left.visible {
            left: 0; }
        .leaflet-sidebar.right {
          right: -100%; }
          .leaflet-sidebar.right.visible {
            right: 0; }
        .leaflet-sidebar > .leaflet-control {
          box-shadow: none;
          -webkit-border-radius: 0;
          border-radius: 0; }
          .leaflet-touch .leaflet-sidebar > .leaflet-control {
            border: 0; } }
  
      .leaflet-sidebar {
        width: 288px; }
        .leaflet-sidebar.left.visible ~ .leaflet-left {
          left: 288px; }
        .leaflet-sidebar.right.visible ~ .leaflet-right {
          right: 288px; }
    .leaflet-sidebar .close {
      position: absolute;
      right: 0px;
      top: 6px;
      width: 41px;
      height: 31px;
      color: #333;
      font-size: 25px;
      line-height: 1;
      text-align: center;
      background: transparent;
      -webkit-border-radius: 16px;
      border-radius: 16px;
      cursor: pointer;
      z-index: 1000;
      text-decoration: none}
  
  .leaflet-left {
    transition: left 0.5s; }
  
  .leaflet-right {
    transition: right 0.5s; }

/*For map filter*/
#filter-sidebar form{
  display: flex;
  flex-direction: column;
  -moz-user-select:none;/*firefox*/
  -webkit-user-select:none;/*webkit*/
  -ms-user-select:none;/*IE10*/
  user-select:none;
}
#filter-sidebar hr{
  margin: 1.5rem 0;
}
.group-chips-container{
  font-size: 14px;
  display: flex;
  justify-content:space-between;
  margin: 0.5rem 0;
}
.group-chips{
  border: 1px solid #ced4da;
  border-radius: 16px;
  color: #333;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.group-chips:hover{
  background-color: #DE5B19;
  border-color: #DE5B19;
  color: white;
}

.btn-check:checked + .group-chips, .btn-check:active + .group-chips, .group-chips:active{
  background-color: #DE5B19!important;
  border-color: #DE5B19!important;
  color: white!important;
  box-shadow: 0 0 0 0.15rem rgb(255 85 0 / 50%) !important;
}
.form-range::-webkit-slider-thumb {
  background-color: #DE5B19!important;
}
.form-range:focus::-webkit-slider-thumb {
  /*background-color: #DE5B19!important;*/
  box-shadow: 0 0 0 0.2rem rgb(222 91 25 / 25%)!important;
}
.form-select:focus {
  border-color: rgb(222 91 25) !important;
  box-shadow: 0 0 0 0.25rem rgb(222 91 25 / 25%) !important;
}
.form-switch .form-check-input {
  margin-top: 4px!important;
}
.form-switch .form-check-input:focus {
  border-color: #DE5B19!important;
  box-shadow: 0 0 0 0.25rem rgb(222 91 25 / 25%) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23DE5B19'/%3e%3c/svg%3e")!important;
}
.form-switch .form-check-input:checked {
  background-color: #DE5B19!important;
  border-color: #DE5B19!important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")!important;
}
.form-switch .h6{
  margin: 0!important;
}

.leaflet-touch .leaflet-bar button{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  padding: 0;
}
.leaflet-touch .leaflet-bar button:hover{
  box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
}
.filter-button{
  height: 50px;
  width: 50px;
  position: absolute;
  background-repeat: no-repeat;
  right: 0px;
  z-index: 1000;
  background-position: center;
  background-color: #fff;

  background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u16.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762");
}
.filter-button:hover{
  background-image: url("https://d1icd6shlvmxi6.cloudfront.net/gsc/6LGU0K/ad/4d/7a/ad4d7ad1c4f44e8fa5b9121329b2460b/images/yanguo/u16_mouseover.svg?pageId=741f38e6-6758-478e-b589-dda19ca30762");
  background-color: #fff;
}
/*For scroll bar*/
.leaflet-sidebar > .leaflet-control::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}
.leaflet-sidebar > .leaflet-control::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}
.leaflet-sidebar > .leaflet-control::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.leaflet-sidebar > .leaflet-control:hover::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
}
/*.leaflet-sidebar > .leaflet-control {*/
/*  */
/*}*/