.login-box{
    position: fixed;
    z-index: 1800;
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.auth-form-container{
    overflow-y: auto;
    height: 100%;
    background-color: rgba(0,0,0,0.08);
    padding: 8% 0 0 0;
}

.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

#loginbox-content{
    border-radius: 10px;
    width: 27rem;
    /*height: 60rem;*/
    border: 0.1rem solid #cccccc;
    margin: 0 auto;
    position: relative;
    background-color: white;

}

.loginbox-content-header{
    border-bottom: 1.5px solid;
    color: #D7D7D7;
    width: 80%;
    margin: -1px auto;
}
.loginbox-title h1{
    margin: 20px auto;
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #333333;
}

.loginbox-content-header a{
    height: 2rem;
    width: 5rem;
    color: #333333;
    float: left;
    text-align: center;
    font-family: 'Arial Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
/* selected show css*/
.loginbox-content-header .current{
    border-bottom: 2px solid #DE5B19;
}

.loginbox-content-body{
    margin-left: 40px;
    margin-top: 30px;
}
.dom-login{
    width: 100%;
    display: none;
}
.dom-signup{
    width: 100%;
    display: none;
}

/* login and sign up input box*/

.boxInput{
    /*background-color: red;*/
    margin-bottom: 1.5rem;

}
.boxInput h4{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0rem;
}
.terms{
    width: 90%;
}
.signup-checkBox{

}
.terms h4{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0rem;
    display: inline;
}
.terms a{
    color: #DE5B19 !important;
    font-family: 'Roboto', sans-serif ;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0rem;
    display: inline;

}
.boxInput input{
    width: 90%;
    height: 1.8rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 4px;
    border: 0px solid white !important;

    background-color: #F5F5F5;
    font-size: small;
}
.boxInput input:focus {
    border: 2px solid #DE5B19 !important;
}

/*Msg for login and signup*/
#login-msg,#signup-username,#signup-username2,#signup-password,#signup-comfirmPassword,#signup-comfirmPassword2 {
    color: #DE5B19;
    display: none;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
}


/*login and sign up button*/
.AccessBtn{
    width: 90%;
    height: 2.3rem;
    border: none;
    background-color: #DE5B19;
    color: white;
    font-size: 14px;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 1rem;
}


/*forgot password*/
.login-another a{
    text-decoration: none;
    color: #DE5B19;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

