#landing-page{
    padding: 50px 0 0 70px;
}
#map {
    height: calc(100vh - 50px);
}
.custom-div-icon{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
}
#custom-div-icon{
    border: 2px solid white;
    box-shadow: 0 2px 14px rgb(0 0 0 / 40%);
}
#event-img{
    width: 300px;
}
