<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Subscriptions</title>
    <link th:href= "@{/css/profile.css}" rel="stylesheet" />
<!--        <link href= "../../static/css/profile.css" rel="stylesheet" />-->

</head>
<body th:replace="navigator/bars::common-body(~{::#profile-page},~{},~{::script})">
<div id="profile-page">
    <div class="user-Info">
        <div class="dom-1">
            <div class="profile-user-icon">
                <img class="profile-user-image" th:src="@{${'/image/'+userIcon}}">
            </div>
        </div>
        <div class="user-details">
            <div class="dom-2">
                <div>
                    <label style="font-weight: 800;font-size: 25px;" th:text="${username}"></label>
                </div>
                <a class="editBtn" th:href="@{/settings}">
                    <div>
                        <input type="button" class="edit-btn" value="Edit Profile" th:if="${loggedUsername==username}">
                    </div>
                </a>
                <a class="editBtn">
                <div>
                    <input type="button" class="edit-btn" value="Follow" th:if="${loggedUsername!=username}">
                </div>
                </a>
            </div>
            <div class="dom-3">
                <div class="userInfo-block">
                    <label class="userInfo-label">50</label>
                    <label class="userInfo-label">Following</label>
                </div>
                <div class="userInfo-block">
                    <label class="userInfo-label">100</label>
                    <label class="userInfo-label">Followers</label>
                </div>
                <div class="userInfo-block">
                    <label class="userInfo-label" th:text="${total_view}"></label>
                    <label class="userInfo-label">Total views</label>
                </div>
            </div>
        </div>
    </div>
    <div class="upcoming-event-header">
        <label>Upcoming Events</label>
    </div>
    <div class="upcoming-event-body">
        <div class="user-Event">
            <div class="user-Event-body">
                <div class="upcoming-event-image">
                </div>
                <div>
                    <div class="upcomingEvent-label profile-title-font">
                        <label>there is the upcoming event title</label>
                    </div>
                    <div class="upcomingEvent-label">
                        <label>there is the upcoming event</label>
                    </div>
                </div>
            </div>
            <div class="user-Event-body">
                <div class="upcoming-event-image">
                </div>
                <div>
                    <div class="upcomingEvent-label profile-title-font">
                        <label>there is the upcoming event title</label>
                    </div>
                    <div class="upcomingEvent-label">
                        <label>there is the upcoming event</label>
                    </div>
                </div>
            </div>
            <div class="user-Event-body">
                <div class="upcoming-event-image">
                </div>
                <div>
                    <div class="upcomingEvent-label profile-title-font">
                        <label>there is the upcoming event title</label>
                    </div>
                    <div class="upcomingEvent-label">
                        <label>there is the upcoming event</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-information">
            <div class="user-bio">
                <div>
                    <label class="profile-title-font user-bio-label" >Bio</label>
                </div>
                <hr style="margin: auto; width: 90%">
                <div>
                    <label class="user-bio-label" th:text="${bio}"></label>
                </div>
            </div>
            <div class="user-video">
                <div>
                    <label class="profile-title-font user-bio-label" >Video</label>
                </div>
                <hr style="margin: auto; width: 90%">
                <div class="user-video-body">
                    <iframe th:src="${video}">
                    </iframe>
                </div>

            </div>
        </div>

    </div>

</div>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
<!--<script src="../../static/js/profile.js"></script>-->
</body>
</html>