<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
  <meta charset="UTF-8">
  <title>Settings</title>
  <link th:href= "@{/css/settings.css}" rel="stylesheet" />
  <link th:href= "@{/css/login.css}" rel="stylesheet" />

  <!--  <link href="../../static/css/settings.css" rel="stylesheet"/>-->

</head>
<body th:replace="navigator/bars::common-body(~{::#settings-page},~{},~{::script})">
<div id="settings-page" >
  <div id="settings-contain">
    <div id="settings-bar">
      <div class="settings-title">
        <h2>Settings</h2>
      </div>
      <div class="settings-nav">
        <ul class="navbar-nav">
          <li id="profileButton" class="current">
            <a class="nav-link settings-nav-a">Profile</a>
          </li>
          <li id="privacyButton" class="nav-item">
            <a class="nav-link settings-nav-a">Security and Privacy</a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
  </div>
  <div id="settings-profile" class="setting-scroll" style="display:block">
    <div id="settings-profile-contain" class="settings-profile-contain" >
    <div id="profile-icon-block">
      <div class="settings-block-title">
        <h3>Profile Picture</h3>
      </div>
      <div id="profile-picture" class="profile-picture">
        <div id="profile-icon" class="profile-icon" >
          <img id="profileIcon" class="profile-image">
        </div>
        <div id="add-icon-button" class="add-icon-button bio-text-contain">
            <input type="file" id="inputChoose"/>
            <label class="settings-label-description">Must be JPEG, PNG, or GIF and cannot exceed 5MB.</label>
        </div>
        <div class="add-bio-button">
            <input id="uploadIconButton" type="button" value="Add profile picture" class="settings-button">
        </div>

      </div>
    </div>
    <div id="profile-settings-block">
      <div class="settings-block-title">
        <h3>Profile Settings</h3>
      </div>
      <div id="video-settings" class="profile-picture video-settings">
        <div id="profile-video" class="profile-icon" >
          <img class="video-img" th:src="@{${'/image/video.png'}}">
        </div>
        <div class="bio-text-contain">
          <input id="introduction-video" placeholder="Add your introduction video" class="bio-text">
        </div>
        <div id="add-video-button" class="add-icon-button add-bio-button">
          <input id="updateVideoBtn" type="button" value="Update" class="settings-button">
        </div>
      </div>
      <div id="bio-settings" class="profile-picture bio-settings">
        <div id="profile-bio" class="profile-icon" >
          <label class="settings-label">Bio</label>
        </div>
        <div class="bio-text-contain">
          <textarea id="bio-text" class="bio-text"></textarea>
        </div>
        <div id="add-bio-button" class="add-icon-button add-bio-button">
          <input id="updateBioBtn" type="button" value="Change" class="settings-button">
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="settings-privacy" class="setting-scroll" style="display: none">
    <div id="settings-privacy-contain" class="settings-profile-contain" >
    <div id="privacy-contact-block">
      <div id="privacy-contact-title" class="settings-block-title">
        <h3>Contact</h3>
      </div>
      <div id="privacy-email" class="profile-picture">
        <div class="profile-icon" >
          <label class="settings-label">Email</label>
        </div>
        <div id="oldEmailBox" class="bio-text-contain">
            <label id="emailAddress" class="email-address"></label>
           <label style="display: block">This email is linked to your account.</label>
        </div>
        <div id="changeEmailBtn" class="add-bio-button">
          <input  type="button" value="Change" class="settings-button">
        </div>
        <div id="newEmailBox" class="bio-text-contain" style="display: none">
          <label>please enter your new email address</label>
          <input id="newEmail" class="form-control">
        </div>
        <div id="submitEmailBtn" class="add-bio-button" style="display: none">
          <input type="button" value="Submit" class="settings-button" >
        </div>
      </div>
    </div>
    <div id="privacy-security-block">
      <div id="privacy-security-title" class="settings-block-title">
        <h3>Security</h3>
      </div>
      <div id="privacy-password" class="profile-picture privacy-password">
        <div class="profile-icon">
          <label class="settings-label password-label">Password</label>
        </div>
        <div id="changePasswordBox" class="bio-text-contain">
          <label id="password-Msg">Change password. Improve your security with a strong password.</label>
        </div>
        <div id="changePasswordBtn" class="add-icon-button add-bio-button">
          <input type="button" value="Change" class="settings-button">
        </div>
        <div id="oldPasswordBox" class="bio-text-contain" style="display: none">
          <label>For security, please enter your password to continue.</label>
          <input id="oldPassword" class="form-control" name="password">
          <p id="wrongPasswordMsg" class="wrongMsg">That password was incorrect. Please try again.</p>
        </div>
        <div id="verifiedPasswordBtn" class="add-bio-button" style="display: none">
          <input type="button" value="Verified" class="settings-button" >
        </div>
        <div id="newPasswordBox" class="bio-text-contain" style="display: none">
          <label>Please enter your new password.</label>
          <input id="newPassword" class="form-control">
          <p id="invalidPasswordMsg" class="wrongMsg">*Password needs to be at least 8 characters.</p>
        </div>
        <div id="submitPasswordBtn" class="add-bio-button" style="display: none">
          <input type="button" value="Submit" class="settings-button" >
        </div>
      </div>
      <div id="privacy-delete-account" class="profile-picture privacy-delete-account">
        <div class="profile-icon delete-account">
          <label class="settings-label delete-label">Delete account</label>
        </div>
        <div id="deleteUserBox" class="bio-text-contain">
          <label>IF DELETE, CAN NOT RECOVER</label>
        </div>
        <div id="currentPasswordBox" class="bio-text-contain" style="display: none">
          <label>For security, please enter your password to continue.</label>
          <input id="currentPassword" class="form-control" name="password">
          <p id="wrongPasswordMsg2" class="wrongMsg">That password was incorrect. Please try again.</p>
        </div>
        <div id="deleteBtn" class="add-bio-button">
          <input type="button" class="delete-account-button" value="Delete">
        </div>
        <div id="confirmDeleteBtn" class="add-bio-button" style="display: none">
          <input type="button" value="Confirm" class="delete-account-button" >
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/settings.js}"></script>
</body>
</html>