<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=xzhfO-IVzqnmlKl1VXrqWg2s68KudDUcE-8CShypmt08IGu7R-J3DQDwVtblpTt3MldA0ZqwPOnlaJd8QW4G3zzTtwLCGE3GDKrtsRAB6pvshqe-qc4-Y6LhaAS7lAjtIk1icr5dD8ZiHR5VoNRw5eBY_Sb9BCNVJIFSPgWeIzpNU3zKxU0iDKZfSy-o0QxeeHbsw1mAfBFN_QBleif8OA" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://sdk.twilio.com/js/video/releases/2.17.1/twilio-video.min.js"></script>
    <script type="module" src="js/LivePlayer/twilio-live-player.js"></script>
    <script src="./js/stream.js"></script>
    <meta charset="UTF-8">
    <title>Streaming</title>
</head>
<body>
<div id="Steam"></div>
<button id="video_rm">Join Stream</button>
<div id="pop_up"></div>
</body>
</html>