<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="add">
    <h2>Register</h2>
    <form action="/add" method="Post">
        username:<input type="text" name="username"><br>
        email:<input type="text" name="email"><br>
        password:<input type="password" name="password"><br>
        <input type="submit" value="注册">
    </form>
</div>
<div class="login">
    <h2>Login</h2>
    <form action="/login" method="Post">
        username:<input type="text" name="username"><br>
        password:<input type="password" name="password"><br>
        <input type="submit" value="登陆">
    </form>
</div>
</body>

</html>