<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="navigator/bars::common-header(~{::title}, ~{::link})">
  <meta charset="UTF-8">
  <title>Map Life</title>
  <link th:href= "@{/css/map.css}" rel="stylesheet" />

</head>
<body th:replace="navigator/bars::common-body(~{::#landing-page},~{},~{})">
<div id="landing-page">
  <ul class="cards">
    <li th:each="events : ${event}">
      <a href="" class="card">
        <img th:src="${event.image}" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">

            <div class="card__header-text">
              <h3 class="card__title" th:text="${event.title}"></h3>
              <span class="card__status" th:text="${event.date}" ></span>
              <div>
                <!--<form action="#" th:action="@{/admindeskstatus/{id}(id=${desk.DeskID})}" >
                  <input type="submit" value="Delete Desk" class="delete" />
                </form>-->

              </div>
            </div>
          </div>
          <p class="card__description" th:text="${event.description}"></p>
        </div>
      </a>
    </li>

  </ul>
</div>
</body>
</html>